@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #d3afaf;
  background-color: black;
}

.App {
  text-align: center;
}



 td,
 th {
  border: 1px solid #ddd;
  padding: 12px;
}
tr {
  background-color: #326969;
  color: white;
}
tr:hover {
  background-color: #991611;
}

th {
  padding: 10px;
  text-align: center;
  background-color: #ca9115;
  color: black;
}


button {
  font-size: 20px;
  color: #f8e9e8;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}
button:hover {
  background-color: #ca9115;
  color: black;
}

